.new-incident-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-incident-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-incident-container .content section {
    width: 100%;
    max-width: 380px;
}

.new-incident-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-incident-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident-container .content form {
    width: 100%;
    max-width: 450px;
}

.new-incident-container .content form input,
.new-incident-container .content form textarea
{
    margin-top: 8px;
}

.new-incident-container .content form .button-group {
    display: flex;
}

.new-incident-container .content form .button-group #bttNewIncident {
    right: 220px;
    position: absolute;
    width: 100%;
    max-width: 265px;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

#bttNewIncident:hover {
  filter: brightness(90%);
}

.new-incident-container .content form .button-group .bttCancel {
    position: absolute;
    width: 100%;
    max-width: 175px;
    height: 60px;
    background: #F0F0F5;
    border: 2.5px solid #DCDCE6;
    box-sizing: border-box;
    border-radius: 8px;
    color: #41414D;
    font-weight: bold;
    margin-top: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 58px;
    transition: filter 0.2s;
}

.bttCancel:hover {
  filter: brightness(90%);
}